<form action="/api/session/login" method="post">
    Email: <input type="text" name="email"><br>
    Pass: <input type="text" name="password"><br>
    <hr>
    <button type="submit">LOGIN</button>
   
</form>
<a href="/api/session/register">REGISTRAR</a>