<h2>Create Product</h2>

<form action="/api/products/form" method="post">
    Title: <input type="text" name="title">
    <br>
    Price: <input type="number" name="price">
    <br>
    thumbnails: <input type="text" name="thumbnails">
    <br>
    description: <input type="text" name="description">
    <br>
    code: <input type="text" name="code">
     <br>
    status: <input type="text" name="status">
    <br>
    stock: <input type="number" name="stock">
    <br>
    category: <input type="text" name="category">
    <button type="submit">Enviar</button>
</form>