<h2>Create Product</h2>
<a href="/">Product List</a>

<form action="/form-products" method="post">
    Name: <input type="text" name="name">
    <br>
    Price: <input type="number" name="price">
    <br>
    img: <input type="text" name="img">
    <br>
    description: <input type="text" name="description">
    <button type="submit">Enviar</button>
</form>