<div id="result"></div>
<h1>Bienvenido a My Shoes</h1>
<ul>
    <li><a href="/login-github">Login Github</a></li>
    <li><a href="/profile">Profile</a></li>
    
</ul>

<script>

    document.getElementById('current').onclick = () => {
        fetch('/jwt/current', { headers: { 'Content-Type': 'application/json' } })
            .then(r => r.json())
            .then(data => {
                document.getElementById('result').innerHTML = JSON.stringify(data)
            })
    }

    document.getElementById('everyone').onclick = () => {
        fetch('/jwt/everyone', { headers: { 'Content-Type': 'application/json' } })
            .then(r => r.json())
            .then(data => {
                document.getElementById('result').innerHTML = JSON.stringify(data)
            })
    }



</script>