<form action="/api/session/register" method="post" id="form">
    Name: <input type="text" name="name">
    Email: <input type="text" name="email"><br>
    Pass: <input type="text" name="password"><br>
    <hr>
    <button type="submit">register</button>
</form>

